public/images/**/*.jpg filter=lfs diff=lfs merge=lfs -text
public/images/**/*.png filter=lfs diff=lfs merge=lfs -text
public/images/**/*.gif filter=lfs diff=lfs merge=lfs -text
content/**/*.jpg filter=lfs diff=lfs merge=lfs -text
content/**/*.png filter=lfs diff=lfs merge=lfs -text
content/**/*.gif filter=lfs diff=lfs merge=lfs -text
website/blog/**/*.jpg filter=lfs diff=lfs merge=lfs -text
website/blog/**/*.png filter=lfs diff=lfs merge=lfs -text
website/blog/**/*.gif filter=lfs diff=lfs merge=lfs -text
website/article/**/*.png filter=lfs diff=lfs merge=lfs -text
website/portfolioupload/**/* filter=lfs diff=lfs merge=lfs -text
