* {
	margin: 0;
	padding: 0;
	border: none;
	color: inherit;
	vertical-align: bottom;
}

body {
	font: 14px/20px Georgia, "Times New Roman", serif;
	color: #5f5f5f;
	background: #eee url(images/background.png) repeat-y center;
}

h1, h2, h3, h4, h5 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h1 a {
	text-align: center;
	background-color: #000;
	text-transform: none;
	color: #5994c3;
	display: block;
	letter-spacing: -0.02em;
	word-spacing: 0;
line-height: 65px;
font-size: 50px;
font-weight: normal;
}

h1 {
	margin-right: 90px;
	margin-left: 90px;
}

h2 {
	font-size: 40px;
	color: #353535;
	clear: both;
	padding-top: 50px;
line-height: 40px;
margin-bottom: 10px;
letter-spacing: -0.03em;
border-bottom: 1px solid #909090;
padding-bottom: 10px;
}

h2 span {
font-weight: normal;
color: #787878;
display: block;
text-transform: uppercase;
font-size: 30px;
line-height: 30px;
}

h3 {
	color: #353535;
	font-size: 20px;
line-height: 30px;
font-weight: normal;
margin-top: 10px;
}

strong {
	color: #353535;
}

a,  div#comments form input#submit {
	font: bold 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #cd392f;
	text-decoration: none;
	letter-spacing: 0.05em;
	word-spacing: 0.1em;
	text-indent: 0;
}

a:hover {
color: #3e9dd5;
}

a.button, p.button a, div#comments form input#submit {
	color: #fff;
	padding: 5px 20px;
	display: block;
	text-align: left;
	float: left;
	line-height: 20px;
	background-color: #cd392f;
font-size: 10px;
cursor: pointer;
}

a.button:hover, div#comments form input#submit:hover {
	background-color: #5994c3;
}

a.more, p.button a {
	background: #000 url(images/arrow.png) no-repeat right center;
padding-left: 10px;
}

p.button a {
	background-color: #5994c3;
color: #000;
}

a.more:hover, p.button a:hover {
	
padding-right: 30px;
background-color: #000;
color: #cd392f;
}

p.older a {
width: 299px;
text-align: left;
margin-right: 10px;
padding-right: 20px;
padding-left: 20px;
}

p.older a:hover {
margin-right: 0;
width: 309px;
margin-left: 0;
padding-right: 20px;
padding-left: 20px;
}

p.newer a {
width: 299px;
text-align: right;
background: #5994c3 url(images/arrowleft.png) no-repeat left center;
margin-left: 10px;
}

p.newer a:hover {
width: 299px;
margin-left: 0;
padding-right: 20px;
margin-right: 0;
padding-left: 20px;
}

p.button a span{
text-transform: none;
font-size: 12px;
color: #fff;
}

p.button a:hover span {
	color: #cd392f;
}


p {
	text-indent: 20px;
	width: 460px;
text-align: justify;
}

p.firstline {
	text-indent: 0;
}

p.singleline {
	text-indent: 0;
margin-top: 10px;
margin-bottom: 10px;
}

p.singleline, .introtext p.singleline {
	margin-top: 10px;
	display: block;
}

div.singlelines p {
	margin-bottom: 10px;
	text-indent: 0;
}

blockquote {
font-style: italic;
width: 300px;
}

cite {
font-style: normal;
text-align: right;
display: block;
margin-bottom: 20px;
}

th {
	font-weight: bold;
	text-align: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
}

table {
	border-spacing: 0px;
	margin-bottom: 10px;
	margin-right: -20px;
width: 100%;
}

th, td {
	padding-bottom: 10px;
	border-bottom: 1px solid #909090;
	padding-right: 20px;
	vertical-align: top;
text-align: left;
padding-top: 5px;
}


div#content {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
background: #fff;
/*background: #fff url(images/test.gif) center;*/
}

div.mainmenu {
	height: 10em;
	margin-right: 10px;
	margin-left: 10px;
	position: absolute;
	width: 960px;
}

div.mainmenu div.logo p {
	top: 20px;
	z-index: 1;
	position: absolute;
	text-indent: 0;
}

div.mainmenu div.logo a {
	text-transform: lowercase;
	letter-spacing: -0.15em;
	font-weight: bold;
	line-height: 30px;
	font-size: 20px;
padding-right: 10px;
padding-left: 10px;
}

div.mainmenu ul {
	z-index: 1;
	position: absolute;
	margin-left: 480px;
	top: 28px;
}

div.mainmenu ul li {
	list-style-type: none;
	float: left;
	margin-left: 0px;
}

div.mainmenu ul li.end {
width: inherit;
}

div.mainmenu ul li a {
padding-left: 10px;
padding-right: 10px;
font-weight: normal;
font-style: normal;
font-size: 12px;
letter-spacing: 0.1em;
}

div.intro {
	width: 980px;
	min-height: 310px;
	padding-bottom: 50px;
	background-position: 0 top;
	background-repeat: no-repeat;
	float: left;
	padding-top: 140px;
}

.intro p.subheading, div#post .intro p.subheading  {
	text-align: center;
	margin-left: 90px;
	margin-right: 90px;
	width: inherit;
}

.intro p.subheading a, .intro p.subheading {
	color: #fff;
	display: block;
	font: 15px/30px;
	background-color: #000;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	word-spacing: 0.2em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	height: 2.2em;
}

.intro p.headerimg {
	width: inherit;
	margin-left: 0;
	margin-top: -17em;
	float: left;
}

.introtext {
	margin-left: 500px;
	clear: both;
	padding-bottom: 10px;
margin-right: 100px;
padding-top: 20px;
}

.introtext p {
	display: inline;
}

div.heading {
	background-color: #000;}

div.heading h1 a:hover {
	color: #cd392f;
}

.scroll {
	position: relative;


/*
fix for IE to respect overflow */
overflow: hidden;
	margin-bottom: 0;
	margin-top: 0;
}

.scrollContainer {
	width: 6720px;
}

div#postnavigation {
margin-left: 10px;
margin-right: 10px;
}

div#postnavigation h2 {
text-align: left;
clear: both;
border: none;
margin-left: 90px;
padding-top: 20px;
}

div#postnavigation ul {
	clear: both;
	float: left;
	padding-left: 0;
	margin-left: 10px;
}

div#postnavigation ul.st-related-posts {
margin-right: auto;
margin-left: auto;
float: none;
width: 800px;
}

div#postnavigation ul li {
	float: left;
	list-style-type: none;
}

div#postnavigation ul.st-related-posts  li {
padding-bottom: 40px;
}

div#postnavigation ul a {
	display: block;
	width: 139px;
	text-align: left;
	text-transform: none;
	min-height: 2.66em;
	letter-spacing: 0;
	word-spacing: 0;
	min-height: 3.5em;
	font: bold 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background-color: #5994c3;
	margin-right: 1px;
padding: 10px;
}

div#postnavigation ul a.selected, div#postnavigation ul.st-related-posts a:hover {
	color: #5994c3;
	background: #000;
}

div#postnavigation ul a.selected:hover, div#postnavigation ul.st-related-posts a:hover{
	color: #cd392f;
}

div#postnavigation a.button {
	width: 110px;
	float: left;
	min-height: 4.2em;
	padding-top: 10px;
	padding-bottom: 10px;
}

.right, .left, .right a, .left a {
	width: 60px;
	color: #fff;
	font: 100px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
	top: 1.4em;
	display: block;
	cursor: pointer;
	text-indent: 0;
}

.right:hover, .left:hover , .right a:hover, .left a:hover {
	color: #5994c3;
	
}

.right  {
	float: right;
	padding-right: 10px;
	padding-left: 20px;
}

.left {
	float: left;
	padding-right: 20px;
	padding-left: 10px;
text-align: right;
}

div#portfolio {
margin-left: 10px;
margin-right: 10px;
}

div#portfolio p {
text-indent: 0;
}

div#portfolio h2 {
margin-left: 10px;
}

div#portfolio a p.title, div#portfolio  p.title a{
	background-color: #000;
	color: #5994c3;
	padding: 5px 10px;
	text-transform: none;
	font-size: 12px;
line-height: 20px;
width: auto;
letter-spacing: 0;
word-spacing: 0;
display: block;
}

div#portfolio a:hover p.title, div#portfolio  p.title a:hover {
color: #cd392f;
}

div#portfolio a.button {
	margin-top: 260px;
	width: 270px;
}

div#post {
	background-position: 0 top;
	background-repeat: no-repeat;
	float: left;
width: 980px;
}

div#post div.intro {
min-height: 0;
padding-bottom: 0;
}

div#post div.introtext {
padding-bottom: 40px;
margin-left: 480px;
margin-right: 80px;
min-height: 150px;
}

div#post div.introtext p{
margin: 0;
}

div#text {
margin-left: 20px;
margin-right: 20px;
margin-bottom: 50px;
}

div#meta {
width: 840px;
float: left;
margin-left: 70px;
margin-right: 0;
margin-bottom: 20px;
}

div#meta h2 {
text-align: left;
border: none;
margin-left: 30px;
padding-top: 0;
}

div#meta div {
width: 339px;
margin-right: 1px;
margin-left: 0;
margin-top: 0;
}

div#meta .more {
text-align: center;
width: 100%;
padding-right: 0;
padding-left: 0;
background-image: none;
}

div#meta .middle {
width: 159px;
}

div#comments {
margin-left: 100px;
margin-right: 100px;
margin-top: 50px;
}

div#comments h2 {
padding-top: 0;
}

div#comments p {
text-indent: 0;
}

div#comments ol {
list-style-type: none;
}

div#comments li {
	float: left;
 clear: both;
 border-bottom: 1px solid #909090;
padding-bottom: 20px;
width: 100%;
margin-bottom: 20px;
margin-left: 0;
padding-left: 0;
}

div#comments .avatar {
float: right;
margin-left: 20px;
}

div#comments div.commentinfo {
float: left;
width: 140px;
margin-right: 20px;
font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #909090;
}

div#comments p.author {
font-weight: bold;
font-size: 14px;
color: #515151;
}

div#comments div.commentcontent {
float: left;
}

div#comments form {
padding-top: 10px;
}

div#comments form p {
clear: left;
float: left;
margin-bottom: 20px;
width: 100%;
}

div#comments form label {
float: left;
width: 140px;
margin-right: 20px;
font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #909090;
}

div#comments form label span {
font-weight: bold;
font-size: 16px;
color: #353535;
}

div#comments form input {
border: 1px solid #909090;
background-color: #eee;
font-size: 20px;
line-height: 30px;
padding: 0 10px;
width: 438px;
}

div#comments form textarea {
border: 1px solid #909090;
background-color: #eee;
width: 438px;
padding: 5px 10px;
font: 14px/20px Georgia, "Times New Roman", serif;
}

div#comments form input#submit {
	border: none;
margin-left: 160px;
width: 460px;
text-align: center;
font-size: 20px;
font-weight: normal;
font-style: normal;
line-height: 30px;
}

div#footer{
clear: both;
float: left;
background-color: #000;
width: 960px;
margin-top: 40px;
position: relative;
margin-left: 0;
margin-right: 0;
padding-right: 10px;
padding-left: 10px;
height: auto;
text-align: center;
padding-bottom: 100px;
}

div#footer div.logo {
padding-bottom: 20px;
}

div#footer div.logo p {
	position: relative;
}

p.twitter, p.twitterlink {
clear: both;
width: 100%;
text-align: center;
text-indent: 0;
color: #fff;
width: 440px;
margin: 20px auto;
font: italic 20px/30px "cochin LT Std", Cochin, Georgia, "Times New Roman", serif;
}

p.twitter a {
line-height: 30px;
}

p.twitterlink a {
color: #3e9dd5;
}

p.twitterlink a:hover {
	color: #cd392f;
}

div.wideadd {
clear: both;
width: 740px;
background-color: #5994c3;
margin-top: 20px;
margin-right: auto;
margin-left: auto;
padding-right: 30px;
padding-left: 30px;
}

div#text p,
div#text h2,
div#text h3,
div#text ul,
div#text ol {
margin-left: 80px;
width: 460px;
}

div#text ul,
div#text ol {
margin-bottom: 10px;
margin-top: 10px;
}

div#text ul p, div#text ol p, div#text p.image img, div#text blockquote p {
margin-left: 0;
text-indent: 0;
width: inherit;
}

div#text ul li, ol li {
margin-bottom: 10px;
margin-left: 25px;
width: 430px;
padding-left: 5px;
}

div#text .image {
text-align: center;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #353535;
font-weight: bold;
}

div#text img {
margin-left: 80px;
text-align: center;
}

div#text .twocolumn p,
div#text .twocolumn h2,
div#text .twocolumn h3,
div#text .twocolumn ul,
div#text .twocolumn ol,
div#text .twocolumn img,
div#text .threecolumn p,
div#text .threecolumn h2,
div#text .threecolumn h3,
div#text .threecolumn ul,
div#text .threecolumn ol,
div#text .threecolumn img,
div#text .fullwidth p,
div#text .fullwidth h2,
div#text .fullwidth h3,
div#text .fullwidth ul,
div#text .fullwidth ol,
div#text .fullwidth img,
div#text .completewidth p,
div#text .completewidth h2,
div#text .completewidth h3,
div#text .completewidth ul,
div#text .completewidth ol,
div#text .completewidth img,
div#text .alignright p,
div#text .alignright h2,
div#text .alignright h3,
div#text .alignright ul,
div#text .alignright ol,
div#text .alignright img {
margin-left: 0;
width: auto;
}

div.twocolumn,
div.threecolumn {
margin-left: -10px;
margin-right: -10px;
clear: both;
float: left;
margin-bottom: 10px;
}

div.fullwidth {
margin-left: -20px;
margin-right: -20px;
width: 980px;
margin-bottom: 20px;
clear: both;
}

div.twocolumn div
 {
	width: 460px;
}

div.threecolumn div
 {
	width: 300px;
}

div.threecolumn div.double {
width: 620px;
}

div.threecolumn div,
div.twocolumn div
{
	float: left;
	margin: 10px;
}

div.threecolumn div div,
div.twocolumn div div
{
margin: 0;
}

div.twocolumn p,
div.threecolumn p {
width: inherit;
}

div.top {
margin-top: 140px;
}

div.top h2 {
padding-top: 0;
}



img {
	vertical-align: bottom;
}

hr {
	clear: both;
}

.alignleft {
float: left;
margin-right: 20px;
text-indent: 0;
width: inherit;
}

.alignright, div#text .alignright {
text-indent: 0;
float: right;
margin-left: 20px;
margin-right: 80px;
clear: both;
margin-bottom: 20px;
width: inherit;
min-width: 300px;
}

.fullwidth .alignright, div#text .fullwidth .alignright {
margin-right: 0;
}

.alignright h3 {
margin-top: 0;
}