* {
	border: none;
	margin: 0;
	padding: 0;
}

body {
	color: #5f5f5f;
	font: 13px/20px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
background-color: #f2f2f2;
}

a, div#portfolio a h1, div#portfolio h1 a {
	color: #d32355;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-decoration: none;
font: bold 0.857em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:hover, div#portfolio a:hover h1, div#portfolio h1 a:hover {
	color: #3e9dd5;
}

a.alt, div#comments input#submit, ul#navigation a {
width: 300px;
display: block;
float: left;
margin-right: 50px;
font-size: 11px;
text-transform: uppercase;
font-weight: bold;
color: #fff;
background-color: #d32355;
margin-bottom: 47px;
display:block;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
}

a.alt:hover, div#comments input#submit:hover, ul#navigation a:hover {
	background-color: #3e9dd5;
	cursor: pointer;
}

div.homepage a.alt {
clear: both;
}

a.essenmitsosse {
	font-size: 1.17em;
	color: #3e9dd5;
}

a.essenmitsosse:hover {
	color: #d32355;
}

a.articlelink {
display: block;
padding-top: 10px;
padding-bottom: 10px;
}

strong {
color: #444;
}

h1, h2, h3, h4, h5 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	font-weight: bold;
}

h1, h1 a, h3.heading {
	font: 70px/80px Impact,"Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: capitalize;
	color: #000;
	clear: both;
padding-right: 50px;
}



h2 {
	font-size: 40px;
	border-bottom: 1px solid #909090;
line-height: 39px;
	clear: left;
	padding-top: 50px;
margin-right: 50px;
padding-bottom: 5px;
margin-bottom: 5px;
}

p.subheading {
padding-bottom: 20px;
}

h2 span, p.subheading{
	text-transform: uppercase;
	text-indent: 0;
	color: #909090;
	letter-spacing: 0.08em;
	display: block;
font-style: normal;
line-height: 20px;
font-size: 20px;
font-weight: normal;
text-align: left;
}

h3, div#twitter h3 a {
	font-size: 20px;
	line-height: 30px;
padding-top: 10px;
text-transform: none;
}

p {
	text-indent: 1.2em;
	text-align: justify;
	width: 475px;
}

p.firstline {
	text-indent: 0;
}

p.singleline {
	text-indent: 0;
padding-top: 10px;
padding-bottom: 10px;
}



li {
padding-bottom: 10px;
list-style-position: outside;
margin-left: 25px;
}

ul {
list-style-type: disc;
}

ol {
list-style-type: decimal;
}

li p {
text-indent: 0;
width: 450px;
}

hr {
clear: both;
border: mnone;
}

table {
	line-height: 20px;
	border-collapse: collapse;
	border-spacing: 0;
}

input, textarea {
	background: #fff;
	border: 1px solid #c9c9c9;
	font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
padding: 5px;
}

img {
vertical-align:bottom;
}

.onewide {
width: 125px;
float: left;
padding-right: 50px;
}

.twowide {
	width: 300px;
	float: left;
padding-right: 50px;
}

.threewide {
	width: 475px;
	float: left;
margin-right: 50px;
}

.fourwide {
	float: left;
	margin-right: 50px;
width: 650px;
}

.fullwide {
	float: left;
margin-bottom: 30px;
}

.clear {
clear: both;
}

.threecolumn div.double {
	width: 650px;
}

.twocolumn div, .threecolumn div {
	margin-right: 50px;
}

.end, .threecolumn .end, .twocolumn .end {
	margin-right: 0;
}


.onewide p, .twowide p, .threewide p, .fourwide p, .fullwide p{
width: inherit;
}

.alignleft {
float: left;
margin-right: 50px;
}

.alignright {
 float: right;
margin-left: 50px;
margin-right: 50px;
}

div#header, div#content, div#comments, #meta {
	clear: both;
padding-left: 50px;
overflow: hidden;
 /*background: url(images/test.gif) 25px -4px;*/ 
min-width: 475px;
max-width: 1050px;
margin: 0 auto;
}

div#header p, div#footer p, div#comments p, div#meta p {
	text-indent: 0;
}

div#header {
padding-bottom: 10px;
}

div#header a {
	color: #3e9dd5;
}

div#header a:hover {
	color: #d32355;
}

div#header ul li {
list-style-type: none;
margin-left: 0px;
float: left;
width: 16.666%;
padding-bottom: 0;
}

div#header ul li a.alt {
width: 71.428%;
color: #fff;
background-color: #3e9dd5;
display: block;
margin-right: 0;
}

div#header ul li a.alt:hover {
background-color: #d32355;
}

div#header ul li.mainmenu {
width: inherit;
margin-right: 0;
}

div#header ul li.submenu {
width: inherit;
margin-right: 0;
width:525px;
}

div.logo {
float: left;
padding-bottom: 20px;
width: 100%;
}

div.logo a {
text-transform: none;
font-family: Impact,"Helvetica Neue", Helvetica, A rial, sans-serif;
}

div.logo a span.clubs {
float: left;
font-size: 100px;
line-height: 20px;
padding-top: 20px;
padding-right: 20px;
margin-left: -5px;
}

div.logo a span.logotitle {
float: left;
}

div.logo a span.essenmitsosse {
font-size: 32px;
display: block;
letter-spacing: 0.04em;
padding-top: 5px;
}

div.logo a span.subtitle {
font: italic 22px/25px "Cochin LT std", cochin, Baskerville, Georgia, "Times New Roman", serif;
font-weight: normal;
	text-transform: lowercase;
	display: block;
}

div#topnavi {
float: left;
margin-right: 50px;
width: 300px;
margin-top: 0.76923em;
}


div#topnavi li {
list-style-type: none;
margin-left: 0px;
padding-bottom:0px;
}

p#bread {
float: left;
margin-top: 20px;
width: 650px;
margin-right: 50px;
}

div#meta li {
list-style-type: none;
margin-left: 0px;
padding-bottom:0px;
}

div#meta ul.st-related-posts li {
list-style-position: outside;
margin-left: 25px;
list-style-type: disc;
}

ul#navigation {
margin-left: 175px;
}

ul#navigation li {
float: left;
}

div#comments ol {
margin-right: 50px;
}

div#comments li {
list-style-type: none;
margin-left: 0px;
padding-bottom: 30px;
clear: both;
float: left;
width: 100%;
border-bottom: 1px dotted #909090;
padding-top: 30px;
}

div#comments p {
width: inherit;
text-align: left;
}

div#comments p.commenttime {
font-size: 9px;
line-height: 15px;
}

div#comments .avatar {
	clear: both;
margin-left: 50px;
float: right;
}

div#comments div.commentinfo {

width: 125px;
margin-right: 50px;
float: left;
}

div#comments div.commentcontent {
margin-left: 175px;
margin-right: 175px;
}

div#comments div.commentcontent p {
}

div#comments form {
margin-top: 13px;
}

div#comments form p {
width: inherit;
margin-bottom: 20px;
float: left;
clear: both;
}

div#comments input {
	width: 288px;
}

div#comments textarea {
	width: 463px;
height: 138px;
}


div#comments input#submit {
margin-left: 175px;
}

div#comments label {
	clear: both;
	font-size: 10px;
	width: 125px;
	display: block;
	float: left;
	color: #909090;
margin-right: 50px;
line-height: 20px;
min-height: 40px;
}

div#comments label span {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.05em;
	color: #262626;
line-height: 20px;
}

div#footer {
	background-color: #151515;
	color: #c9c9c9;
padding-top: 40px;
margin-top: 40px;
}

div#footer h3, div#twitter h3 a {
color: #f2f2f2;
}

div#footer li {
list-style-type: none;
margin-left: 0px;
margin-bottom: 30px;
}

div#footercontent {
min-width: 475px;
max-width: 1050px;
margin: 0 auto;
padding-left: 50px;
overflow: hidden;
}

div#footer div#portfolio {
}

div#footer div#articles {
margin-right: 50px;
float: left;
width: 300px;
}

div#footer div#articles li p {
width: inherit;
}

div#theend {
	clear: both;
	width: 300px;
	float: none;
margin: 0 auto;
padding-top: 50px;
}

div#theend a {
	float: left;
margin-bottom: 100px;
display: block;
}

div.homepage p {
text-indent: 0;
}

div.homepage h2 {
	font-size: 20px;
	line-height: 20px;
	margin-top: 20px;
	width: inherit;
padding-top: 0;
padding-bottom: 0;
margin-bottom: 17px;
}

div.homepage h2 a {
	color: #909090;
	font-weight: normal;
	text-transform: none;
}

div.homepage h2 a span {
color: #444;
font-weight: bold;
display: inline;
}

div.homepage h2 a:hover span {
color: #000;
}

div.intro p {
	text-indent: 0;
	width: inherit;
}

div.introtext {
margin-bottom: 10px;
min-height: 21.538461em;
}

div.single div.introtext, div.single  div.introtext p{
	font-size: 20px;
	line-height: 30px;
	letter-spacing: -0.05em;
	width: 475px;
	float: left;
	margin-right: 50px;
	min-height:0;
	text-align: justify;
}

.introimage {
	clear: both;
}

div#text {
margin-bottom: 50px;
}

div#postlist {
overflow: hidden;
height: 50em;
margin-top: 20px;
}

div.postbig h1 {
font-size: 50px;
line-height: 60px;
}

div.postsmall {
width: 300px;
float: left;
margin-right: 50px;
margin-bottom: 50px;
}

div.postsmall p.subheading {
font-size: 13px;
line-height: 20px;
width: inherit;
padding-bottom: 10px;
}

div.postsmall h1 {
font-size: 35px;
line-height: 40px;
padding-top: 10px;
}

div.postsmall a.headerlink {
display: block;
}

div.homepage div#portfolio {
float: left;
}

div#portfolio div {
	float: left;
width: 300px;
margin-right: 50px;
margin-bottom: 30px;
}
div#portfolio h1 a, div#portfolio a h1 {
font-weight: bold;
line-height: 20px;
font-size: 11px;
}

div#links {
clear: both;
float: left;
width: 300px;
margin-right: 50px;
}

div#twitter {
	width: 650px;
	min-height: 300px;
	float: left;
	background: url(images/icons.png) no-repeat -348px 0;
margin: 50px 50px 50px 0;
}

div.homepage div#twitter {
margin-top: 0;
}

div#twitter h3, div#twitter h2 {
width: 300px;
float: left;
border: none;
}

div#twitter h3 a, div#twitter h2 a {
display: block;
height: 300px;
}

div#tweets {
	margin-left: 350px;
	background: url(images/icons.png) right bottom;
	color: #000;
padding-bottom: 20px;
margin-top: 20px;
}

div#tweets a {
	color: #fff;
}

div#tweets a:hover {
	color: #000;
}

div#tweets ul {
	background-color: #d32355;
	margin: 0 auto;
width: 250px;
}

div#twitter a#twitter-link {
	display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
}

div#tweets li {
	list-style-type: none;
margin-left: 0px;
	padding-bottom: 20px;
}

div#tweets span {
	display: block;
}

.gallery {
	float: left;
clear: left;
padding-top: 50px;
max-width: 1050px;
}

.gallery .twowide p {
min-height: 5.7692em;
}

.gallery .addblock {
padding-bottom:6.923em;
}
