* {
	border: none;
	margin: 0;
	padding: 0;
	font-style: normal;
	text-decoration: none;
	background: none;
	list-style-type: none;
}

body {
	color: #5f5f5f;
	background-color: #f2f2f2;
	font: 13px/20px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}

strong {
	font-weight: bold;
	color: #444;
}

h1, h2, h3, h4, h5, p.subtitle, #header form {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	font-weight: bold;
}

h1, div#postlist h1 a, h3.heading {
	font: 70px Impact,"Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: capitalize;
	letter-spacing: 0em;
	color: #000;
	clear: right;
}

h2 {
	font-size: 40px;
	clear: both;
	line-height: 40px;
	margin-bottom: 9px;
	border-bottom: 1px dotted #909090;
	text-transform: uppercase;
	width: 1000px;
	padding-top: 60px;
}

h2 span {
	color: #a8a8a8;
	text-transform: none;
}

div.homepage h2 {
	font-size: 20px;
	line-height: 20px;
	width: 100%;
padding-top: 0;
}

div.homepage h2 a {
	color: #787878;
}

div.homepage h2 a:hover {
	color: #151515;
}

div#twitter h2, div#twitter h3 {
	border-bottom: none;
	float: left;
	padding: 0;
}

h3 {
	font-size: 20px;
	padding-bottom: 10px;
	line-height: 20px;
	padding-top: 10px;
	margin-top: 20px;
}

div#meta h3 {
	padding-top: 0;
	margin-top: 0;
}

h3#respond {
	clear: both;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 175px;
}

div#text h3 {
	width: 475px;
	margin-left: 175px;
}

div#text p {
	text-indent: 1.2em;
	text-align: justify;
	margin-left: 175px;
	width: 475px;
}

div#text p.firstline {
	text-indent: 0;
}

div#text p.singleline {
	text-indent: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

div#text ul, div#text ol {
	margin-left: 195px;
	width: 455px;
}

div#text ul p, div#text ol p {
	margin-left: 0;
}

a {
	color: #d32355;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.857em;
	letter-spacing: 0.05em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:hover {
	color: #3e9dd5;
}

a span.clubs {
	font-size: 1.17em;
}

a.alt {
	color: #3e9dd5;
	text-transform: none;
	font-size: 13px;
	cursor: pointer;
	padding-left: 12px;
	background: url(images/icons.png) repeat-x -24px -47px;
}

a.alt:hover {
	color: #d32355;
	background-position: -24px 3px;
}

a.alt span {
	background-color: #f2f2f2;
	font-weight: bold;
	padding-left: 6px;
}

#footer a.alt span {
	background-color: #151515;
	font-weight: bold;
	padding-left: 6px;
}

a.rsslink {
	padding-left: 12px;
	background: url(images/icons.png) repeat-x 0 1px;
}

a.rsslink:hover {
	background: url(images/icons.png) repeat-x 0 -49px;
}

a.rsslink span {
	font-weight: bold;
	background-color: #f2f2f2;
	padding-left: 6px;
}

a#twitter-link {
	background: url(images/icons.png) -24px -98px;
	margin-left: 25px;
	padding-left: 12px;
}

a#twitter-link:hover {
	background-position: -24px -168px;
}

div#twitter a#twitter-link span {
	display: inline;
	font-weight: bold;
	padding-left: 6px;
	background-color: #d32355;
}

a.essenmitsosse {
	font-size: 14px;
	color: #3e9dd5;
}

a.essenmitsosse:hover {
	color: #d32355;
}

li.prev a, li.next a {
	padding-left: 12px;
	background: url(images/icons.png) repeat-x;
}

li.prev a span, li.next a span {
	font-weight: bold;
	padding-left: 6px;
	background-color: #f2f2f2;
}

li.prev a strong, li.next a strong {
	text-transform: none;
	font-size: 13px;
}

li.prev a {
	background-position: -36px 1px;
}

li.next a {
	background-position: -24px 1px;
}

li.prev a:hover {
	background-position: -36px -49px;
}

li.next a:hover {
	background-position: -24px -49px;
}

li {
	padding-bottom: 10px;
}

form#searchform input#s {
	background-color: #f2f2f2;
	font-size: 14px;
	line-height: 20px;
	width: 125px;
	color: #909090;
	text-decoration: underline;
	margin-left: 0;
}

form#searchform input#startsearch {
	width: 12px;
	height: 12px;
	background: url(images/icons.png) repeat-x -12px 0;
}

form#searchform input#startsearch:hover, form#searchform:hover input#startsearch {
	cursor: pointer;
	background: url(images/icons.png) repeat-x -12px -50px;
}


div.logo a {
color: #3e9dd5;
text-transform: none;
display: block;
font-family: Impact,"Helvetica Neue", Helvetica, A rial, sans-serif;
float: left;
margin-top: 20px;
overflow: hidden;
padding-bottom: 20px;
}

div.logo a:hover {
color: #d32355;
}

div.logo a span.clubs {
float: left;
font-size: 100px;
line-height: 5px;
padding-top: 20px;
}

div.logo a span.essenmitsosse {
font-size: 32px;
display: block;
margin-left: 75px;
letter-spacing: 0.04em;
padding-top: 10px;
}

div.logo a span.subtitle {
	font: italic 22px/25px "Cochin LT std", cochin, Baskerville, Georgia, "Times New Roman", serif;
	text-transform: lowercase;
	display: block;
padding-left: 75px;
padding-top: 5px;
}

div#header {
	width: 1000px;
	margin: 0 auto;
}

div#header a {
	color: #3e9dd5;
}

div#header a:hover {
	color: #d32355;
}

div#header a.rsslink {
	background-position: 0 -49px;
}

div#header a.rsslink:hover {
	background-position: 0 1px;
}

div#header form#searchform input#startsearch {
	background-position: -12px -50px;
}

div#header form#searchform input#startsearch:hover {
	background-position: -12px 0;
}

div#header ul {
clear: left;
padding-top: 20px;
padding-bottom: 20px;
}

div#header li {
float: left;
width: 125px;
margin-right: 50px;
}


div#topnavi li.next {
	width: 300px;
	margin-left: 700px;
}

div#topnavi li.prev {
	width: 300px;
	float: right;
}

.intro {
	float: left;
	width: 1000px;
	margin-bottom: 20px;
}

.intro p.subheading, p.subheading {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: normal;
	text-indent: 0;
	color: #909090;
	letter-spacing: 0.08em;
	padding-bottom: 20px;
}

.intro a.headerlink {
	display: block;
}

.intro a.articlelink {
	display: block;
	margin-top: 10px;
}

.single div.introtext {
	font-size: 20px;
	line-height: 30px;
	text-indent: 0;
	float: left;
	letter-spacing: -0.05em;
	width: 475px;
	margin-bottom: 10px;
}

.single p.introtext {
	font-size: 20px;
	line-height: 30px;
	text-indent: 0;
	letter-spacing: -0.05em;
	padding-bottom: 50px;
	margin-top: -0.3em;
}

.single .introimage {
	margin-bottom: 10px;
	float: ;
}

div#content {
	clear: both;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

div#text {
	padding-bottom: 40px;
}

.oneintend div#text p, .oneintend div#text ul, .oneintend div#text ol {
	margin-left: 175px;
}

div#text .onewide p, div#text .twowide p, div#text .threewide p, div#text .fourwide p, div#text .twocolumn p, div#text .threecolumn p, 
div#text .onewide ul, div#text .twowide ul, div#text .threewide ul, div#text .fourwide ul, div#text .twocolumn ul, div#text .threecolumn ul,
div#text .onewide ol, div#text .twowide ol, div#text .threewide ol, div#text .fourwide ol, div#text .twocolumn ol, div#text .threecolumn ol, div#text .onewide h3, div#text .twowide h3, div#text .threewide h3, div#text .fourwide h3, div#text .twocolumn h3, div#text .threecolumn h3,
div#text .fullwide h3 {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	padding-top: 0;
}

div#text div.illustration p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-indent: 0;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
}

div#text ul, div#text ol, div#footer ul {
	padding-bottom: 10px;
}

div#text ul li, div#text ol li {
	text-indent: 0px;
}

div#text ul li p, div#text ol li p {
	text-indent: 0px;
	width: 100%;
}

div#text ul, div#text ol {
	margin-top: 10px;
}

div#text ul li {
	list-style-type: disc;
}

div#text ol li {
	list-style-type: decimal;
}

div#text ul li span, div#text ol li span {
	font-weight: normal;
	color: #5f5f5f;
}

div#comments {
	clear: both;
	width: 1000px;
	margin: 0 auto;
}

div#comments li {
	clear: both;
	width: 825px;
	float: left;
	border-bottom: 1px dotted #909090;
	padding-bottom: 19px;
	padding-top: 20px;
}

div#comments .avatar {
	float: right;
	margin-left: 50px;
}

div#comments .avatar-default {
	display: none;
}

div#comments div.commentinfo {
	width: 175px;
	float: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div#comments div.commentinfo p.commenttime {
	font-size: 10px;
}

div#comments div.commentinfo p.author {
	font-weight: bold;
	color: #262626;
}

div#comments div.commentcontent {
	width: 475px;
	margin-left: 175px;
}

div#comments div.commentcontent p {
	margin-bottom: 10px;
}

div#comments form {
	width: 650px;
	float: left;
}

div#comments input, div#comments textarea {
	background: #fff;
	width: 292px;
	border: 1px solid #c9c9c9;
	float: right;
	font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 4px;
	margin-bottom: 20px;
	margin-right: 175px;
}

div#comments textarea {
	width: 467px;
	float: right;
	margin-right: 0;
}

div#comments input#submit {
	background-color: #3e9dd5;
	color: #fff;
	float: left;
	margin-right: 0;
	margin-left: 175px;
	margin-bottom: 60px;
}

div#comments input#submit:hover {
	cursor: pointer;
	background-color: #d32355;
}

div#footer {
	clear: both;
	background-color: #151515;
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #c9c9c9;
	min-height: 10em;
}

div#footer a.rsslink span {
	background-2color: #151515;
}

div#footer h3.search {
	padding-top: 0;
	padding-bottom: 0;
}

div#footercontent {
	width: 1000px;
	margin: 0 auto;
}

div#footercontent div#articles {
	margin-left: 700px;
}

div#footercontent div#portfolio {
	width: 700px;
	float: left;
}

div#footercontent div#twitter {
	float: left;
	width: 650px;
	margin-right: 50px;
	padding: 0;
}

div#footer hr {
	border: none;
	padding-bottom: 40px;
}

div#footer h3 {
	color: #fff;
}

div#postlist {
	width: 650px;
	float: left;
	margin-bottom: 90px;
}

div#postlist ul {
clear: both;
}

div#postlist .intro a h1 {
	font-size: 40px;
	line-height: 40px;
}

div#postlist .intro p.subheading {
	font-size: 13px;
	line-height: 20px;
	padding-bottom: 10px;
}

div#postlist .introtext hr {
	margin: 0;
	padding-bottom: 10px;
}

div#postlist .intro {
	width: 650px;
	border-bottom: 1px dotted #909090;
	padding-bottom: 39px;}

div#postlist .introtext {
	width: 300px;
	margin-left: 350px;
}

div.homepage div#postlist .alignleft, div.homepage div#postlist .alignright {
	width: 300px;
}

div#portfolio {
	float: right;
	width: 300px;
	margin-bottom: 100px;
}

div#portfolio div {
	margin-bottom: 40px;
	width: 300px;
	float: left;
	margin-right: 50px;
}

div#portfolio a.headerlink p,
div.search div.portfolio a.headerlink p {
	height: 250px;
}

div#portfolio a h1,
div#portfolio a p.title,
div.search div.portfolio a h1,
div.search div.portfolio a p.title,
div#portfolio h1 a,
div#portfolio p.title a {
	text-align: center;
	color: #f2f2f2;
	background-color: #d32355;
	height: auto;
	font: bold 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div#portfolio a:hover h1,
div.search div.portfolio a:hover h1,
div#portfolio a:hover p.title {
	background-color: #3e9dd5;
}

div.search div.portfolio {
float: left;
width: 300px;
margin-right: 50px;
margin-left: auto;
margin-bottom: 40px;

}

div.portfolio div#portfolio {
	width: 1000px;
	float: left;
}

div.portfolio div#portfolio div {
	margin-right: 50px;
}

div#links {
	width: 300px;
	float: left;
	margin-right: 50px;
	margin-bottom: 40px;
}

div.homepage div#links {
clear: both;
}

div#links h2 {
	clear: none;
	padding: 0;
	width: 100%;
}

div#links ul li {
	list-style-type: none;
	text-indent: 0;
	border-bottom: 1px dotted #909090;
	margin-bottom: 10px;
}

div.linklist div#links {
	margin-left: 350px;
}

div#linkinfo {
	width: 300px;
	float: right;
}

div#twitter {
	width: 650px;
	min-height: 300px;
	float: right;
	background: url(images/icons.png) no-repeat -348px 0;
	margin-bottom: 40px;
}

div#tweets {
	margin-left: 350px;
	padding-bottom: 30px;
	background: url(images/icons.png) right bottom;
	color: #000;
	margin-top: 20px;
}

div#tweets a {
	color: #fff;
}

div#tweets a:hover {
	color: #000;
}

div#tweets ul {
	background-color: #d32355;
	padding-left: 25px;
	padding-right: 25px;
	width: 250px;
}

div#tweets li {
	padding-bottom: 20px;
}

div#tweets span {
	display: block;
}

div#theend {
	clear: both;
	margin: 0 auto;
	width: 300px;
}

div#theend a {
	margin-top: 100px;
	margin-bottom: 50px;
}

label {
	font-size: 10px;
	width: 125px;
	display: block;
	float: left;
	color: #909090;
}

label span {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.05em;
	color: #262626;
}

.onewide, div#text p.onewide {
	width: 125px;
	float: left;
	margin-right: 50px;
}

.twowide, div#text p.twowide {
	width: 300px;
	float: left;
	margin-right: 50px;
}

.threewide, div#text p.threewide {
	width: 475px;
	float: left;
	margin-right: 50px;
}

.fourwide, div#text p.fourwide {
	width: 650px;
	float: left;
	margin-right: 50px;
}

.fullwide {
	width: 1000px;
	float: left;
	padding-bottom: 50px;
}

.twocolumn, .threecolumn, .sixcolumn {
	clear: both;
	width: 1000px;
	padding-top: 20px;
}

.twocolumn div {
	width: 475px;
	float: left;
}

.threecolumn div {
	width: 300px;
	float: left;
}

.threecolumn div.double {
	width: 650px;
}

.sixcolumn div {
	width: 125px;
	float: left;
}

.twocolumn div, .threecolumn div, .sixcolumn div {
	margin-right: 50px;
	padding-bottom: 40px;
}

.twocolumn div div, .threecolumn div div, .sixcolumn div div {
	float: none;
	margin: 0;
	padding: 0;
}

.threecolumn div.halfcolumn {
	width: 125px;
	padding-right: 50px;
}

.threecolumn div.empty {
	height: 10px;
}

.end, .threecolumn .end, .twocolumn .end, div.portfolio div#portfolio .end, p.end, div.search div.end, div#header .end {
	float: left;
	margin-right: 0;
}

.center {
	text-align: center;
}

.marginbottom {
	margin-bottom: 50px;
}

.alignright, div#text .alignright, div#text .alignright p {
	float: right;
	margin-left: 50px;
	width: 300px;
	text-indent: 0;
	clear: right;
}

div.homepage .alignright {
margin-top: 70px;
}

.alignleft, div#text .alignleft, div#text .alignleft p {
	float: left;
	margin-right: 50px;
	width: 300px;
	text-indent: 0;
	clear: left;
}

div#text p.alignright, div#text p.alignleft {
	margin-bottom: 50px;
}

div#text .singlelines p {
	text-indent: 0px;
	margin-bottom: 10px;
}

hr {
	clear: both;
	width: 1000px;
	border-bottom: 1px dotted #909090;
}

.intro hr {
	border-style: none;
	border-width: 0;
	margin-bottom: 20px;
}

thead th {
	font-weight: bold;
	text-align: left;
}

table {
	border-spacing: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	table-layout: fixed;
}

th, td {
	padding-bottom: 10px;
	border-bottom: 1px dotted #909090;
	padding-right: 50px;
}

div#text blockquote {
	font: italic 14px/20px Georgia, "Times New Roman", serif;
}

div#text blockquote p {
	margin-bottom: 10px;
	text-indent: 0px;
	font-style: italic;
}

cite {
	text-align: right;
	display: block;
	padding-bottom: 40px;
}